body {
  background-color: gray;
}

#root > div > div > div > div > form > div {
  display: flex;
  height: 40px;
  align-items: center;
}

h5 {
  font-weight: bold;
}

#root > div > div > div > div {
  display:flex;
  flex-direction: column;
}

.form-check-input {
  scale: 110%;
  margin-right: 5px;
}

h6.bold {
  width: 32rem;
  font-weight: bold;
}

.filterFlex {
  display:flex;
}

.bodyCard {
  background-color: gray;
}

#dropdown {
  width: 100%;
  height: 60px;
  border-color: lightgray;
  color: black;
  text-align: left;
}